@import '../../scss/variables';
@import '../../scss/mixins';

.searchblock {
  @include flex(space-between);
  margin: 25px 0;
  border-radius: 10px;
  @media (max-width: 570px) {
    display: block;
  }
}

.search {
  @include flex(flex-start);
  background-color: white;
  padding: 8px 15px;
  border: 1px solid rgba($dark-grey, 0.4);
  border-radius: 5px;
  margin-right: 15px;
  img {
    width: 25px;
    height: 25px;
    margin-right: 10px;
  }
  input {
    color: $dark-grey;
    width: 300px;
  }
  @media (max-width: 660px) {
    input {
      width: 50%;
    }
  }
  @media (max-width: 570px) {
    margin: 0 0 10px 0;
    padding: 5px 30px;
  }
}

.sortbox {
  position: relative;
  width: 300px;
  @media (max-width: 660px) {
    width: 50%;
  }
  @media (max-width: 570px) {
    width: 100%;
    font-size: 17px;
  }
}

.sort {
  @include flex(flex-start);
  color: $dark-grey;
  padding: 10px;
  border: 1px solid rgba($dark-grey, 0.4);
  border-radius: 5px;
  cursor: pointer;
  img {
    transition: all ease-in-out 0.3s;
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }
  @media (max-width: 570px) {
    padding: 7px 30px;
    font-size: 17px;
  }
}

.arrow_open {
  transform: rotate(180deg);
}

.popup {
  position: absolute;
  z-index: 1000;
  width: 100%;
  padding: 20px 15px;
  margin-top: 5px;

  font-size: 17px;
  line-height: 220%;
  color: $dark-grey;
  background-color: white;

  border-radius: 5px;
  box-shadow: 0 5px 6px rgba(65, 70, 86, 0.2);
  li {
    cursor: pointer;
    padding: 0 5px;
    border-radius: 5px;
    transition: all linear 0.1s;
    &:hover {
      color: white;
      background-color: $blue;
    }
  }
}
