@import '../../scss/variables';
@import '../../scss/mixins';

.support__button {
  margin: 10px 0;
  text-align: center;
}

.support__button div {
  margin-bottom: 10px;
}

.root {
  background-color: $grey;
  width: 80%;
  margin: 150px auto;
  border-radius: 40px;
  padding: 60px 70px;
}

.title {
  @include title($blue, 28px);
  text-align: center;
}

.inputBox {
  margin-top: 25px;
  @include flex(center);
  flex-direction: column;
}

.input {
  color: $dark-grey;
  padding: 10px 20px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
  &:focus {
    outline: 1px solid $blue;
  }
}

.error {
  color: $red;
  font-size: 14px;
  margin-left: 15px;
}

.inputErr {
  outline: 1px solid $red;
}

.label {
  width: 100%;
  &:not(:first-child) {
    margin-top: 15px;
  }
  label {
    display: inline-block;
    color: $dark-grey;
    margin-bottom: 10px;
  }
}

.btn {
  margin-top: 40px;
  width: 100%;
  @include button(white, $blue);
}

.backBtn {
  @include button(white, $blue);
}
