@import '../../scss/variables';
@import '../../scss/mixins';

.counter {
  max-width: 110px;
  @include flex(space-between);
  flex-shrink: 0;
  background-color: white;
  height: 30px;
  button {
    @include button(white, $blue);
    border-radius: 0;
    text-align: center;
    padding: 0 10px;
    height: 100%;
    font-size: 18px;
  }
}

.disbtn {
  opacity: 0.7;
  pointer-events: none;
}

.count {
  text-align: center;
  color: $dark-grey;
  height: 100%;
  width: 100%;
  font-size: 18px;
  appearance: textfield;
  &:focus {
    border: 1px solid $blue;
  }
  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
