@import '../../scss/variables';
@import '../../scss/mixins';

.root {
  background-color: $grey;
  margin-top: 15px;
  border-radius: 10px;
  padding: 20px 40px;
  @media (max-width: 969px) {
    padding: 20px;
  }
  @media (max-width: 425px) {
    margin-top: 10px;
    padding: 10px;
  }
}

.backBtn {
  display: inline-block;
  @include button(white, $orange);
  margin-top: 15px;
  @media (max-width: 425px) {
    margin-top: 10px;
  }
}

.header {
  display: grid;
  grid-template-areas:
    'img title'
    'img price';
  grid-template-columns: 340px 1fr;
  grid-auto-rows: minmax(0, 240px);
  grid-column-gap: 30px;
  margin-bottom: 20px;
  @media (max-width: 969px) {
    grid-template-columns: 270px 1fr;
  }
  @media (max-width: 769px) {
    display: block;
  }
}

.imgBox {
  grid-area: img;
  img {
    display: block;
    width: 90%;
    // height: 100%;
    border-radius: 10px;
    position: relative;
    top: 100px;
  }
  @media (max-width: 769px) {
    height: 800px;
  }
  @media (max-width: 569px) {
    height: 600px;
  }
  @media (max-width: 425px) {
    height: 450px;
  }
}

.titleBox {
  grid-area: title;
  h3 {
    width: 100%;
    font-size: 20px;
    color: $dark-grey;
    margin-bottom: 5px;
    font-weight: 700;
  }
  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 15px;

    td {
      border-bottom: 1px solid rgba($dark-grey, 0.4);
      padding: 12px;
    }
  }
}

.title {
  align-self: center;
  position: relative;
  left: -360px;
  @include title($orange, 26px);
  grid-area: name;
  margin: 10px 0;
  @media (max-width: 980px) {
    font-size: 25px;
    position: relative;
    left: 0px;
  }

  @media (max-width: 425px) {
    font-size: 23px;
  }
}

.names {
  grid-area: names;
}

.values {
  grid-area: values;
  font-weight: 700;
}

.priceBox {
  grid-area: price;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  border-radius: 10px;
  // padding-top: 25px;
  padding-left: 30px;
  @media (max-width: 425px) {
    padding: 15px;
    p {
      font-size: 16px;
    }
  }
}

.name {
  font-size: 20px;
  color: $dark-grey;
  margin-bottom: 5px;
}

.price {
  margin-bottom: 15px ;
}

.btn {
  @include button(white, $orange);
  font-size: 19px;
  padding: 10px 100px;
  display: inline-block;
  align-self: start;
  @media (max-width: 980px) {
    padding: 10px 70px;
  }
  @media (max-width: 425px) {
    font-size: 17px;
    padding: 10px 45px;
  }
}

.confButton {
  @include button(white, dark-grey($blue, 15%));
  padding: 10px 100px;
  display: inline-block;
  align-self: start;
  font-size: 19px;
  @include confButton(120%, -10%, -45px);
  @media (max-width: 980px) {
    padding: 10px 70px;
  }
  @media (max-width: 425px) {
    font-size: 17px;

    padding: 10px 45px;
  }
}

.description {
  padding: 30px;
  background-color: white;
  border-radius: 10px;

  h3 {
    @include title($dark-grey, 28px);
    margin-bottom: 10px;
  }

  @media (max-width: 425px) {
    padding: 10px;
    h3 {
      font-size: 23px;
    }
  }
}

.descBody {
  color: $dark-grey;
  font-size: 20px;
  line-height: 130%;
  @media (max-width: 425px) {
    font-size: 17px;
  }
  @media (max-width: 350px) {
    font-size: 15px;
  }
}


h3 {
  font-size: 24px;
  font-weight: 700;
  padding: 10px 0;
}

span {
  font-size: 20px;
  font-weight: 600;
  margin: 5px 0;
}

p {
  display: flex;
  margin: 5px 0;
}

td {
  padding: 10xp 0;
}

li {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}