@import '../../scss/variables';
@import '../../scss/mixins';

.filterbox {
  margin: 10px 0;
  overflow: auto;
}

.item {
  // @include bglessButton($dark-grey, $blue);
  padding: 10px 20px;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
  color: $dark-grey;
  margin-bottom: 10px;
  &:not(:last-child) {
    margin-right: 15px;
  }
}

.active {
  color: $orange;
  // background-color: $orange;
  text-decoration: underline;
  margin-bottom: 3px;
  &:hover {
    
  }
}
