@import '../../scss/variables';
@import '../../scss/mixins';

.root {
  @include flex(space-between);
  align-items: flex-start;
  position: relative;
  padding: 20px 0;
  
  @media (max-width: 590px) {
    display: block;
  }
}

.content {
  display: flex;
  align-items: center;
  width: 100%;
  @media (max-width: 590px) {
    width: 100%;
  }
}

.imgBox {
  min-width: 110px;
  height: 150px;
  img {
    width: 100%;
    height: 100%;
  }
}

.info {
  margin: 5px 10px;
  a {
    display: block;
    width: 300px;
    color: $blue;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
    @include hoverLine($blue);
  }
  p {
    font-size: 17px;
    color: $dark-grey;
  }
  @media (max-width: 375px) {
    a {
      font-size: 17px;
    }
    p {
      font-size: 15px;
    }
  }
}

.colorBox {
  margin-top: 10px;
  @include flex(flex-start);
  div {
    width: 20px;
    height: 20px;
    border: 1px solid $dark-grey;
    border-radius: 20px;
    margin-left: 10px;
  }
  p {
    display: block;
  }
}

.red {
  background-color: $red;
}

.white {
  background-color: white;
}

.grey {
  background-color: grey;
}

.black {
  background-color: black;
}

.btns {
  margin: 5px 0;
  position: relative;
    top: 50px; 
    left: -50px;
  @include flex(flex-start);
  @media (max-width: 590px) {
    margin: 20px 0 0 0;
  }
}

.del {
  position: absolute;
  right: 10px;
  bottom: 20px;
  padding: 7px;
  border: 1px solid $blue;
  border-radius: 10px;
  cursor: pointer;
  transition: all linear 0.1s;
  background-color: $blue;
  &:hover {
    background-color: darken($blue, 7%);
  }
  img {
    width: 20px;
    height: 20px;
    fill: $dark-grey;
  }
}

.price {
  color: $dark-grey;
  margin: 0 15px;
  text-align: right;
  min-width: 70px;
  @media (max-width: 590px) {
    margin: 0 30px;
  }
}
