@import '../../../scss/variables';
@import '../../../scss/mixins';

.root {
  color: $dark-grey;
  padding: 10px 20px;
  width: 100%;
  background-color: white;
  border-radius: 5px;
  &:focus {
    outline: 1px solid $blue;
  }
}

.error {
  color: $red;
  font-size: 14px;
  margin-left: 15px;
}

.inputErr {
  outline: 1px solid $red;
  &:focus {
    outline: 1px solid $red;
  }
}
