body {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.container {
  width: 100%;
  max-width: 1190px;
  margin: 0 auto;
  padding: 0 10px;
}

.fixed {
  margin-top: 115px;
}
