@import './variables';

@mixin button($color, $bc) {
  text-align: center;
  cursor: pointer;
  font-size: 15px;
  padding: 10px 35px;
  color: $color;
  background-color: $bc;
  border-radius: 5px;
  transition: background-color linear 0.1s;
  &:hover {
    background-color:   ($bc, 7%);
  }
}

@mixin bglessButton($bc, $hover) {
  border: 1px solid rgba($bc, 0.3);
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  margin-bottom: 10px;
  &:hover {
    border: 1px solid $hover;
  }
}

@mixin confButton($width, $left, $top) {
  display: inline-block;
  position: relative;
  &::before {
    align-self: center;
    position: absolute;
    content: 'Перейти в корзину';
    pointer-events: none;
    text-align: center;
    color: white;
    font-size: 14px;
    border-radius: 5px;
    width: $width;
    left: $left;
    top: $top;
    background-color: rgba($dark-grey, $alpha: 0.95);
    padding: 10px 5px;
    opacity: 0;
    transition: all linear 0.1s;
  }
  &:hover::before {
    opacity: 1;
  }
}

@mixin flex($jc) {
  display: flex;
  align-items: center;
  justify-content: $jc;
}

@mixin title($color, $fz) {
  color: $color;
  font-size: $fz;
  font-weight: 700;
}

@mixin hoverLine($color) {
  position: relative;
  &:hover {
    color: darken($color, 5%);
    &::after {
      top: 120%;
      opacity: 1;
    }
  }
  &::after {
    position: absolute;
    content: '';
    width: 100%;
    left: 0;
    top: 150%;
    border-bottom: 1px solid $color;
    opacity: 0;
    transition: all ease 0.2s;
  }
}
